<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../../node_modules/angular/angular.js"></script>
    <style>
        .text-color-red {
            color: red;
        }
    </style>
</head>

<body ng-app="app" ng-controller="firstCtrl">
    <button ng-click="changePrice()" ng-mousedown="test()" ng-mouseup="test2()">change price</button>
    <button ng-click="changeName()">change name</button>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Products</h1>
        </div>
        <div class="panel-body">
            <div unordered-list='products' list-property='name'>
                1234
            </div>
            <div unordered-list='products' list-property='price | currency'>
            </div>
        </div>
    </div>
</body>
<script>
    angular.module('app', [])
        .directive('unorderedList', function () {
            return {
                replace: true,
                templateUrl: 'template.html',
                link: function (scope, element, attrs) {
                    scope.data = scope[attrs['unorderedList']]
                }
            }
        })
        .controller('firstCtrl', function ($scope, $interval) {
            $scope.changePrice = changePrice
            $scope.changeName = changeName
            function changePrice() {
                angular.forEach($scope.products, function (product, index) {
                    product.price++;
                })
            }
            function changeName() {
                angular.forEach($scope.products, function (product, index) {
                    product.name += '1';
                })
            }
            $scope.products = [
                { name: "Apples", category: "Fruit", price: 1.20, expiry: 10 },
                { name: "Bananas", category: "Fruit", price: 2.42, expiry: 7 },
                { name: "Pears", category: "Fruit", price: 2.02, expiry: 6 }
            ]
        })
</script>

</html>