<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../../node_modules/angular/angular.js"></script>
</head>

<body ng-app="app" ng-controller="firstCtrl">
    <button ng-click="changePrice()">change price</button>
    <button ng-click="changeName()">change name</button>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Products</h1>
        </div>
        <div class="panel-body">
            <div unordered-list='products' list-property='name'>
                {{test}}
            </div>
            <div unordered-list='products' list-property='price | currency'>
                {{test}}
            </div>
        </div>
    </div>
</body>
<script>
    angular.module('app', [])
        .directive('unorderedList', function () {
            return function (scope, element, attrs) {
                console.log('scope', scope)
                console.log('element', element)
                console.log('attrs', attrs)
                var data = scope[attrs['unorderedList']]
                var propertyExpression = attrs['listProperty']
                console.log(propertyExpression)
                if (angular.isArray(data)) {
                    var ulElement = angular.element('<ul>')
                    element.append(ulElement)
                    angular.forEach(data, function (item, index) {
                        var liElement = angular.element('<li>').text(scope.$eval(propertyExpression, item))
                        ulElement.append(liElement)
                        scope.$watch(function (scope) {
                            return scope.$eval(propertyExpression, item)
                        }, function (newVal) {
                            liElement.text(newVal)
                        })
                    })
                }
            }
        })
        .controller('firstCtrl', function ($scope) {
            $scope.changePrice = changePrice
            $scope.changeName = changeName
            function changePrice() {
                console.log(1)
                angular.forEach($scope.products, function (product, index) {
                    if (index === 0) {
                        return
                    }
                    product.price++;
                })
            }
            function changeName() {
                angular.forEach($scope.products, function (product, index) {
                    if (index === 0) {
                        return
                    }
                    product.name += '1';
                })
            }
            $scope.products = [
                { name: "Apples", category: "Fruit", price: 1.20, expiry: 10 },
                { name: "Bananas", category: "Fruit", price: 2.42, expiry: 7 },
                { name: "Pears", category: "Fruit", price: 2.02, expiry: 6 }
            ]
        })
</script>

</html>